{
    "singleQuote": true,
    "trailingComma": "all",
    "printWidth": 100,
    "tabWidth": 4,
    "plugins": ["prettier-plugin-tailwindcss", "@ianvs/prettier-plugin-sort-imports"],
    "vueIndentScriptAndStyle": true,
    "overrides": [
        {
            "files": "*.vue",
            "options": {
                "htmlWhitespaceSensitivity": "ignore"
            }
        }
    ],
    "tailwindFunctions": ["tv", "tw"],
    "importOrder": ["<BUILTIN_MODULES>", "<THIRD_PARTY_MODULES>", "<TYPES>", "", "^[.]"]
}
